body {
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
 /* Buttons */
 #submit,
 #next {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(76, 76, 223);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;  
  }
  
  #submit span,
  #next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #submit span:after,
  #next span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #submit:hover span ,
  #next:hover span{
    padding-right: 25px;
  }
  
  #submit:hover span:after,
  #next:hover span::after {
    opacity: 1;
    right: 0;
  }

h1 {
    font-size: 3rem;
    position: relative;
    bottom: 1rem;
    text-align: center;
}

#score {
    position: relative;
    bottom: 6rem;
    left: 5.7rem;
    
}


#text {
    position: relative;
    bottom: 5rem;
    left: 3rem;
}


#time {
    position: relative;
    bottom: 11rem;
    right: 0.6rem;
    float: right;
    
}


#text2 {
    position: relative;
    bottom: 11rem;
    float: right;
    right: 10rem;
}

.main-content {
    position: relative;
    background: rgb(211, 190, 190);
    bottom: 60px;
    border: 2px solid black;
}

.question {
    font-size: 30px;
    margin-left: 10px;
}

.choice {
        
        margin-bottom: 30px;
}


label {
    display: inline;
    font-size: 20px;
    margin-left: 7px;

}
input[type=radio   ]:not(old){
    display      : inline-block;
    margin-left  : 20px;
    padding-left : 28px;
    line-height  : 24px;
    
  }
